* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 65.5%;
}

h1 {
  font-size: 4rem;
  padding-top: 5%;
  padding-left: 5%;
}

section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem 10%;
  font-size: 2rem;
}

.leader__header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 7px 14px;
  border: 2px solid black;
  box-shadow: rgb(0 0 0 / 20%) 0px 5px 15px;
}

.leader__list {
  border: 2px solid black;
  list-style: none;
  width: 80%;
  margin: 2rem 0;
}

.leader__list li {
  padding: 0.5rem 0;
}

.leader__list li p {
  padding-left: 1rem;
}

.gray {
  background-color: rgb(202, 196, 196);
}

form {
  margin: 2rem 0;
  width: 80%;
}

input {
  border: 2px solid black;
  margin: 1rem 0;
  padding: 1rem;
  width: 100%;
}

input:focus {
  outline: none;
}

.submit {
  display: flex;
  flex-direction: row-reverse;
}

@media screen and (max-width: 750px) {
  section {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
}
